<footer class="row">
    <article class="col-12 col-lg-4">
        <div>
        <span>Encontranos en:</span>    
        <img src="\images\lucas\img\footer\facebook.jpg" alt="facebook" width="30" height="30">
        <img src="\images\lucas\img\footer\instagram.jpg" alt="instagram" width="30" height="30">
        <img src="\images\lucas\img\footer\twitter.jpg" alt="twitter" width="30" height="30">
        </div>
        <span>© Imperio Gamer 2020 - Todos los derechos reservados</span>
    </article>
    <article class="col-12 col-lg-4">
        <a href="/nosotros">Nosotros</a>
        <a class="nav-link" href="/contacto">Contactanos</a>
        <a href="/politicas-de-privacidad">Politicas de privacidad</a>
    </article>
    <article class="tarjetas col-12 col-lg-4">
        <svg class="bi bi-credit-card" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
            <rect width="3" height="3" x="2" y="9" rx="1"/>
            <path d="M1 5h14v2H1z"/>
        </svg>
        <p>¡Podés pagar con nuestras tarjetas seleccionadas en cuotas y sin interés!</p>
    </article>
    <script src="/javascript/productDetail.js"></script>
</footer>