* {
    font-family: 'Poppins', sans-serif;
    
}

body, html {
    font-size: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
height: 100vh;
font-size: 15px;
background-color: #001f3f;
color: white;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}


h3 {
    margin-top: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

p {
    font-weight: 500;
}



.boxes-container {
    background-color:#001f3f;
    display: flex;
    position: relative;
}

.column-box {
    display: flex;
    flex-direction: column;
}



.box {
    background-color: blanchedalmond;
    color: black;
    margin:20px;
    width: 300px;
    height: 200px;
    text-align: left;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 5px 17px -6px rgba(0,0,0,0.75);
    transition: 1s;
}


.box:hover {
   transform: scale(1.15);
}

#listado{
    position: relative;
    top: 150px;
    border-top: 3px solid hsl(180, 62%, 55%);
   
}


#cerrar-sesion {
    position: relative;
    top: 150px;
    border-top: 3px solid hsl(212, 86%, 64%);
}

#foco {
    position: relative;
    border-top: 3px solid hsl(34, 97%, 64%);
}


#inicio {
   
    border-top: 3px solid hsl(0, 78%, 62%);
}

.images {
    position: relative;
    left: 220px;
    top: 20px;
}


@media (max-width: 768px) {


    .headline {
        padding: 15px;
        
    }

    .column-box {
        display: inline-block;
       
    }

    .boxes-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box {
        width: auto;
        
    }

    .images {
        position: relative;
        left: 400px;
        top: 20px;
        
    }

    #supervisor {
        position: static;
       
       
    }
    
    
    #cerrar-sesion {
        position: static;
       
    }
    
    #foco {
        position: static;
        
    }
    
    
    #inicio {
        position: static;
    }

    #listado{
        position: relative;
        top: 0px;
    }
    
}


.copyright {
    margin-top: 0;
     font-size: 11px; 
     text-align: center;
     }


@media (min-width: 425px) and (max-width: 555px) {
    .images {
        position: relative;
        left: 270px;
        top: 44px;
        
    }

    #listado{
        position: relative;
        top: 0px;
    }
}



@media (max-width: 450px) {
    .images {
        position: relative;
        left: 260px;
        top: 50px;
        
    }

    #listado{
        position: relative;
        top: 0px;
    }
}



@media (max-width: 416px) {
    .images {
        position: relative;
        left: 210px;
        top: 20px;
        
    }

    #listado{
        position: relative;
        top: 0px;
    }
    
}

@media (max-width: 375px) {
        .images {
            position: relative;
            left: 165px;
            top: 20px;
            
        }

        #listado{
            position: relative;
            top: 0px;
        }
    
}

