<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="/stylesheets/pandelAdmin/panelAdmin.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="">
  
  <title>Panel de admin</title>
  

 
</head>
<body>
  <div class="container">
    <div class="headline">
  <h1><strong>Panel de administrador</strong><br>

</div>
<div class="boxes-container">
   
 

   
  <div class="box" id="listado">
    <a href="/products"> 
    <div>
      
  <h3>Listado de productos</h3>
  <p>Para poder ver todos los productos disponibles, hacé clic acá.</p>
  <img src="../imagenes-Panel-admin/lupa.svg" alt="icono de lupa" class="images">
      
</div>
</a>
</div>



<div class="column-box">

  
 
<div class="box" id="inicio">
  <a href="/">
    <div>
  <h3>Home</h3>
  <p>Para acceder a la página de inicio, hacé click acá.</p>
  <img src="../imagenes-Panel-admin/home.svg" alt="icono de inicio" class="images"> <!--! ./imagenes-home/halowallpaper.jpg -->
</div>
</a>
</div>



<div class="box" id="foco">
  <a href="/products/create">
  <div>
  <h3>Crear Productos</h3>
  <p>Para acceder a la página de creación y subida de productos hacé click acá. </p>
  <img src="../imagenes-Panel-admin/foco.svg" alt="icono: imagen foco" class="images">
</div>
</a>
</div>

</div>



<div class="box" id="cerrar-sesion">
  <a href="/admin/register">
    <div>
  <h3>Crear Usuario</h3>
  <p>Para la creacion de usuario Admin</p>
  <img src="../imagenes-Panel-admin/calculadora.svg" alt="icono: monitor con cálculos" class="images">
</div>
</a>
</div>

</div>
  
  <footer>
    <p class="copyright">
      creado por ImperioGamer.
    </p>
  </footer>
</div>
</body>
</html>