 <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> 

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <link href="/stylesheets/error.css" rel="stylesheet">
</head>
<body>
  <div id="container">
    <div class="contenido">
      <h1>Error 404</h1>
      <h4>No se encontró la página. =( </h4>
      <p>La página que estaba buscando no existe.</p>
      <a href="/">Volver al inicio</a>
    </div>
  </div>
  
</body>
</html> -->
