<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <link href="/stylesheets/contacto.css" rel="stylesheet">
    
<body>
  <%- include('./partials/header') %>

    <div class="row">
        <div class="col-12">
            <h1>¿Quiénes somos?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 confirmacion">
           
          <p>Imperio Gamer fue fundado en el año 2020, con el objetivo de fomentar el uso de soft legal en Argentina, importando los mejores títulos de video juegos para PC y consolas.</p>

          <p>En Imperio Gamer conocemos muy bien el mercado americano y local. Seleccionamos nuestros productos a través de personal muy calificado. Nuestros empleados son apasionados de los videojuegos, fanáticos de la tecnología y sumamente informados. Si un producto no cumple con los requisitos de nuestro personal de compras queda automáticamente descartado. En Imperio Gamer trabajan personas que **realmente saben** de lo que hablan.  </p>

          <p>Nuestra meta es ofrecer productos de calidad, y brindar el mejor servicio a nuestros clientes. </p>

<p>Actualmente Imperio Gamer es una cadena líder del país en materia de videojuegos, productos para PC de alta gama y rarezas tecnológicas. Basta con tipear 'Imperio Gamer' en cualquier buscador y corroborarlo leyendo los resultados de búsqueda</p>


            
        </div>
        
    </div>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>