<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <link href="/stylesheets/contacto.css" rel="stylesheet">
    
<body>
  <%- include('./partials/header') %>

    <div class="row">
        <div class="col-12">
            <h1>Políticas de privacidad</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 confirmacion">
           
            <p>Para operar de cualquier modo con Imperio Gamer deben suministrarse ciertos datos personales que obligatoriamente seran completos y exactos. Podremos solicitar, recabar y almacenar la siguiente informacion: nombre, número de documento o identificación válida, información física de contacto (como número de teléfono domicilio, dirección de e-mail, etc.). Imperio Gamer podrá confirmar los datos personales suministrados acudiendo a entidades públicas, compañías especializadas o centrales de riesgo, para lo cual nos autorizas expresamente. La información que Imperio Gamer obtenga de estas entidades será tratada en forma confidencial y bajo ningun concepto sera divulgada a otras empresas.</p>

            <p>Es importante que sepas que www.imperiogamer.com.ar no traspasará, bajo ninguna modalidad y a ninguna empresa datos personales de los clientes registrados en su sitio web y te asegura que éstos serán manejados en forma absolutamente confidencial y conforme lo dispone la legislación vigente.</p>

            <p>Imperio Gamer no venderá, alquilará o compartirá la Información Personal excepto en las formas establecidas en estas políticas. Haremos todo lo que esté a nuestro alcance para proteger la privacidad de la información. Puede suceder que en virtud de órdenes judiciales, o de regulaciones legales, nos veamos compelidos a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos que terceras partes puedan interceptar o acceder a cierta información o transmisiones de datos en cuyo caso Imperio Gamer no responderá por la información que sea revelada.</p>

<p>Imperio Gamer podrá revelar la Información Personal de sus usuarios bajo requerimiento de la autoridades judiciales o gubernamentales competentes para efectos de investigaciones conducidas por ellas, aunque no exista una orden ni una citación ejecutiva o judicial, o por ejemplo (y sin limitación a este supuesto) cuando se trate de investigaciones de carácter penal o de fraude o las relacionadas con piratería o la violación de derechos de autor. En tales situaciones, Imperio Gamer colaborará con las autoridades competentes con el fin de salvaguardar la integridad y la seguridad de una y cada una de las personas que visiten el sitio web.</p>

<p>Imperio Gamer no sea hace responsable por cualquier violación a la confidencialidad que en el uso de datos personales pudieran incurrir los propios usuarios o terceros ajenos a la empresa.</p>

<p>Sobre la utilizacion de cookies. Las Cookies son pequeños archivos que se instalan en el disco rígido, con una duración limitada en el tiempo que ayudan a personalizar los servicios. Imperio Gamer puede colocar cookies en tu computadora y también tener acceso a ellas. Se establece que la instalación, permanencia y existencia de las Cookies en el computador del usuario depende de su exclusiva voluntad y puede ser eliminada de su computador cuando el usuario así lo desee.</p>

<p>Se aclara expresamente que estas políticas cubre la utilización de Cookies por este sitio y no la utilización de Cookies por parte de anunciantes. Nosotros no controlamos el uso de Cookies por terceros.</p>

<p>La información brindada libremente por el usuario puede ser utilizada para comunicarse con el mismo, por el staff de Imperio Gamer o por un tercero designado por la empresa.</p>

<p>La utilización de los servicios de Imperio Gamer significa que el usuario ha leído, entendido y acordado con los términos antes expuestos en este documento y por lo tanto este documento constituye un acuerdo legal entre el usuario y de Imperio Gamer. Si por alguna razón no estuviera de acuerdo con alguno de los términos del presente documento, el usuario tiene la opción de no proporcionar información personal, o de no utilizar el servicio de Imperio Gamer.</p>

<p>Imperio Gamer puede realizar enmiendas y modificaciones a estas normativas. Si los cambios que realizamos son importantes y afectan directamente al uso que le damos a la información personal de nuestros usuarios, se los haremos saber mediante un mensaje en esta seccion de la pagina.</p>

<p>Si tiene alguna duda sobre estas politicas, por favor no dude en consultar en la siguiente dirección: info@imperiogamer.com.ar</p>

            
        </div>
        
    </div>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>