
#no-encontrado{
    padding: 20px;
    margin-bottom: 165px;
    color: white;
    margin-top: 100px;
}


 .col-3 {
    transition: 0.5s;
}

.col-3:hover {
    transform: scale(1.05);
 }

.col-3 a{
    text-decoration: none;
}





